@{
    ViewData["Title"] = "ExampleController Index Sayfası";
    Layout = "ExampleLayout";
}
@section header
{
    <div>Bu kodlar header'in hemen altına eklenecek</div>
}
<div>Bu sayfa Example Controller > Index Sayfası </div>

@section footer
{
    <p>Bu Kodlar footer'ın hemen ardına eklenecek'</p>
}